---
import Base from '../layouts/Base.astro';
import { Content as Guida } from '../../CONTRIBUIRE.md';
---
<Base titolo="Come contribuire" descrizione="Aggiungere una fonte o un articolo in due minuti, senza saper programmare.">
  <p class="kicker">Partecipa</p>
  <Guida />
</Base>
